<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/icon/favicon.ico}">

    <title>Sticky Footer Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sticky-footer.css}" rel="stylesheet">
</head>

<body>

<!-- Begin page content -->
<main role="main" class="container">
    <form class="mt-5">
        <div class="form-group row">
            <label for="txtTenure" class="col-sm-2 col-form-label">Tenure</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="txtTenure" placeholder="Tenure ex: 3" required="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="txtTicketSize" class="col-sm-2 col-form-label">Ticket Size</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="txtTicketSize" placeholder="Ticket Size ex:15000000" required="true">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" id="btnProcess">Process</button>
            </div>
        </div>
    </form>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<script th:src="@{/js/jquery-1.11.3.min.js}"></script>

<script th:inline="javascript">

    $(function () {
        $('#btnProcess').on("click", function () {

            var txtTenure = $('#txtTenure').val();
            var txtTicketSize = $('#txtTicketSize').val();
            var data ={};
            data["tenure"] = txtTenure;
            data["ticketSize"]=txtTicketSize;

            console.log(JSON.stringify(data));

            var api_loan_add = /*[[@{/api/loan/add}]]*/ '';

            $.ajax({
                type: "POST",
                url: api_loan_add,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data.status);
                    $('#txtTenure').val("")
                    $('#txtTicketSize').val("")
                    alert('Success Add loan');
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });

        });
    });

</script>

</body>
</html>
